<div ng-app="sampleApp" ng-controller="FriendListController">
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-warning btn-sm" id="friendList" ng-click="getFriendList()">
                Friend's
            </button>
            {{Response}}
            <!--<ul class="list-group" ng-repeat="friend in friend_list">
                <div ng-show="friend_list.length !== 0">
                    <a href="#chat/">
                        <li class="list-group-item"><span class="badge">{{friend.status}}</span>{{friend.name}}</li>
                    </a>
                </div>
            </ul>-->

            <ul class="list-group" ng-repeat="friend in friend_list">
                <a href="#chat/">
                    <li class="list-group-item">
                        <span class="badge">{{friend.status}}</span>
                        {{friend.name}}
                    </li>
                </a>

            </ul>
        </div>
        <div class="col-sm-8">
            <h1>Friend's Locations</h1>

            <div id="chart-8" style="height: 350px;"></div>
            <script>
                new Chartkick.GeoChart("chart-8", [["United States", 44], ["Germany", 23], ["Brazil", 22], ["Canada", 21], ["France", 13], ['Srilanka', 70]]);
            </script>
        </div>
    </div>
</div>