<div ng-app="sampleApp" ng-controller="FriendListController">
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-warning btn-sm" id="friendList" ng-click="getFriendList()">
                Friend's
            </button>
            {{Response}}
            <!--<ul class="list-group" ng-repeat="friend in friend_list">
                <div ng-show="friend_list.length !== 0">
                    <a href="#chat/">
                        <li class="list-group-item"><span class="badge">{{friend.status}}</span>{{friend.name}}</li>
                    </a>
                </div>
            </ul>-->

            <ul class="list-group" ng-repeat="friend in friend_list">
                <a href="#chat/">
                    <li class="list-group-item">
                        <span class="badge">{{friend.status}}</span>
                        {{friend.name}}
                    </li>
                </a>

            </ul>
        </div>
        <div class="col-sm-8">
            <a href="#products/"><h3>Friend's Locations</h3></a>


        </div>
    </div>
</div>