<div ng-app="sampleApp" ng-controller="RuleController">
    <div style="margin: 5%">
        <fieldset data-ng-repeat="ruleBlock in ruleFullBlock">

            <div class="panel panel-default">
                <div class="panel-heading" style="height: 50px">
                    <h3 class="panel-title pull-left" style="width: 8%">Rule Block</h3>

                    <select id="type" class="pull-left" style="width: 5%">
                        <option selected>ALL</option>
                        <option>NOT</option>
                        <option>OR</option>
                    </select>

                    <button id="addRuleBlock" type="button"
                            class="btn btn-default pull-right"
                            ng-show="$last"
                            ng-click="addFullRuleBlock()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-default pull-right"
                            ng-click="removeFullRuleBlock(ruleBlock.id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <fieldset data-ng-repeat="rule in rules">

                        <div class="row" style="margin: 2px">
                            <div class="col-sm-3">
                                <select ng-model="rule.eventType"
                                        ng-options="eventType.name as eventType.name for eventType in eventTypes"
                                        class="selectpicker show-tick form-control"
                                        id="eventTypes">
                                </select>
                            </div>

                            <div class="col-sm-3">
                                <select ng-model="rule.aggregationType"
                                        ng-options="aggregation.name as aggregation.name for aggregation in aggregationTypes"
                                        class="selectpicker show-tick form-control">

                                </select>

                            </div>
                            <div class="col-sm-3">
                                <select ng-model="rule.condition"
                                        ng-options="condition.name as condition.name for condition in conditions"
                                        class="selectpicker show-tick form-control">

                                </select>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="value" ng-model="rule.value">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button"
                                                class="btn btn-default"
                                                ng-show="$last"
                                                ng-click="addRuleBlock()">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button type="button" class="btn btn-default"
                                                ng-click="removeRuleBlock(rule.id)">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </fieldset>

        <div id="choicesDisplay">
            {{ rules }}
        </div>

        <div id="updatedBlog">
            <pre> {{logs | json}}</pre>
        </div>

        <div style="margin-top: 10px">
            <div class="row" style="width: 30%">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default"
                            ng-click="showJson('show')">
                        Show JSON
                    </button>

                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default"
                            ng-click="showJson('clean')">
                        Clear
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>