/* Global Styles */

/* DASHBOARD ICONS */

.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

p {
    margin: 0 0 0px;
}

.dashboard-div-wrapper {
    border-radius: 0px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

/* Add Profile */
.profile-add-button {
    border-radius: 0px;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-bottom: 5px;
    background-color: #CE503A;
    transition: 0.5s ease-in-out;
}

.profile-add-div {
    border-radius: 0px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 10px;
    background-color: #EF634C;
}

/* Add Campaign */

.campaign-add-button {
    border-radius: 0px;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-bottom: 5px;
    background-color: #394F64;
    transition: 0.5s ease-in-out;
}

.campaign-add-div {
    border-radius: 0px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 10px;
    background-color: #435C72;
}

/* Add ForeCast */

.forcast-add-button {
    border-radius: 0px;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-bottom: 5px;
    background-color: #127557;
    transition: 0.5s ease-in-out;
}

.forcast-add-div {
    border-radius: 0px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 10px;
    background-color: #119c7e;
}

/* Add Other */

.settings-add-button {
    border-radius: 0px;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-bottom: 5px;
    background-color: #DE6900;
    transition: 0.5s ease-in-out;
}

.settings-add-div {
    border-radius: 0px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 10px;
    background-color: #F9A912;
}

.profile-add-button:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.campaign-add-button:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.forcast-add-button:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.settings-add-button:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.dashboard-div-icon {
    height: 170px;
    width: 170px;
    border: 2px solid #fff;
    padding: 10px;
    padding-top: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 90px;
    color: #fff;
}

/* login-form-center */

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    -webkit-appearance: none;
}

/* fotter */
.footer {
    color: #fff;
    font-size: 12px;
    background-color: #b2b2b2;
}

.footer span, footer span:hover {
    color: #127557;
    text-decoration: none;
}

/* DASHBOARD ICONS */

.user-applications-run {
    background-color: #8a5d62;
    height: 200px;
    padding: 15px;
}

.status-applications {
    background-color: #5b739e;
    height: 200px;
    padding: 15px;
}

/* remove radius */

body {
    margin-top: 100px;
    background-color: #EEEEEE;
}

@media (min-width: 768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 50%;
    padding: 0;
    background-color: #fff;
    margin:0 auto;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
        background-color: #EEEEEE;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
    background-color: #222 !important;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #222;
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #435C72;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav > li > a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

/* Custom Colored Panels */

.event-item-body {
    border-radius: 0px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 10px;
    background-color: #FFF;
    border: #DDDDDD solid 1px;
}

.event-item-body:hover {
    -moz-box-shadow: 3px 3px 4px #c7c7c7;
    -webkit-box-shadow: 3px 3px 4px #c7c7c7;
    box-shadow: 3px 3px 4px #c7c7c7;
}

.slider-item-body{
    border-radius: 0px;
    text-align: center;
    padding: 15px;
    color: #fff;
    height: 200px;
    margin-bottom: 10px;
    background-color: #FFF;
}

.event-item-logo {
    border-radius: 0px;
    text-align: center;
    height: 100px;
    width: 100px;
}

.event-item-details {
    border-radius: 0px;
    text-align: left;
    color: #676767;
    margin-left: 5px;
}

.add-to-cart {
    border-radius: 0px;
    text-align: center;
    padding: 5px;
    display: block;
    color: #fff;
    background-color: #119c7e;
    transition: 0.5s ease-in-out;
    margin-top: 5px;
    font-size: 15px;
}

.alignleft {
    float: left;
}

.slider-app-store {
    height: 300px;
    background-color: #119c7e;
}

.most-viewed-apps {
    height: 100px;
    background-color: #752415;
}

.newly-added-apps {
    height: 100px;
    background-color: #1b752d;
}

.category-header {
    background-color: #b6b5b8;
    border-radius: 0px;
    padding: 5px;
    color: #FFF;
    margin: 0 0 5px 0;
}

.category-sub-header {
    background-color: #b6b5b8;
    border-radius: 0px;
    padding: 05px;
    color: #FFF;
    margin: 0 0 5px 15px;
    width: 91%;
}

/* Star Ratings */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 17px;
}

.rating span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.rating span.star:before {
    content: "\f006";
    padding-right: 5px;
    color: #999999;
}

span.star.filled:before {
    color: #EB9700;
    content: "\f005";
}

/* slide show */
.item{
    background: #FFF;
    text-align: center;
    height: 300px !important;
}

/* campaigns */
.bg-color-green {
    background-color: #fff;
    color: #352b40;
}

.back-footer-green {
    background-color: #352b40;
    color:#fff;
    border-top: 0px solid #fff;
}

.no-boder {
    border:1px solid #f3f3f3;
    border-radius: 0px;
}
.no-border-footer{
    border-radius: 0px;
}

.bg-color-red {
    background-color: #fff;
    color:#F0433D;
}
.back-footer-red {
    background-color: #F0433D;
    color:#fff;
    border-top: 0px solid #fff;
}

.bg-color-brown {
    background-color: #fff;
    color:#E87E04;
}
.back-footer-brown {
    background-color: #E87E04;
    color:#fff;
    border-top: 0px solid #fff;
}
.bg-color-blue {
    background-color: #fff;
    color: #4183D7;
}
.back-footer-blue {
    background-color: #4183D7;
    color:#fff;
    border-top: 0px solid #fff;
}

/* campaigns */

table#sourceTable tbody  tr {
    cursor : pointer;
}

/* Register */
#register-page-wrapper {
    width: 50%;
    padding: 0;
    background-color: #fff;
    margin:0 auto;
}